
body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#resizeButton {
    margin: 10px 10px 10px 0px;
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    border: 3px solid black;
    height: 500px;
    width: 500px;
    font-size: 10px;
    
}

#container > div {
    box-shadow: inset 1px 1px ;
    height: 31.25px;
    width: 31.25px;
    display: fl;
    justify-content: center;
    align-items: center;
    
}


#container > div:hover {
    background-color: pink; 
}